<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>about</title>
  </head>
  <body>
    <div class="profile-box">
      <p class="profile-text">
        Kiyoshi Kurosawa (黒沢 清, Kurosawa Kiyoshi, born July 19, 1955) is a
        Japanese film director, screenwriter, film critic and a professor at
        Tokyo University of the Arts. Although he has worked in a variety of
        genres, Kurosawa is best known for his many contributions to the
        Japanese horror genre, his honorific nicknamed "David Cronenberg of
        Japan".
      </p>
      <img class="profile-img" src="/images/profile.jpg" alt="" />
    </div>
    <div class="links">
      <a class="link-items" href="/">home</a>
      <a class="link-items" href="/works">works</a>
      <a class="link-items" href="/gallery">gallery</a>
    </div>
  </body>
</html>
