<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>imagery.</title>
  </head>
  <body>
    <div class="gallery">
      <div class="gallery-col">
        <img class="gallery-img" src="/images/cure1.jpg" alt="" />
        <img class="gallery-img" src="/images/cure2.jpg" alt="" />
        <img class="gallery-img" src="/images/cure3.jpg" alt="" />
      </div>
      <div class="gallery-col">
        <img class="gallery-img" src="/images/kairo1.jpg" alt="" />
        <img class="gallery-img" src="/images/kairo2.webp" alt="" />
        <img class="gallery-img" src="/images/kairo3.webp" alt="" />
      </div>
      <div class="gallery-col">
        <img class="gallery-img" src="/images/creepy1.jpg" alt="" />
        <img class="gallery-img" src="/images/creepy2.webp" alt="" />
        <img class="gallery-img" src="/images/creepy3.webp" alt="" />
      </div>
    </div>
    <div class="links">
      <a class="link-items" href="/">home</a>
      <a class="link-items" href="/about">about</a>
      <a class="link-items" href="/works">works</a>
    </div>
  </body>
</html>
