<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Kiyoshi Kurosawa.</title>
  </head>
  <body>
    <div class="hero">
      <h1 class="title">explore the mind of Kiyoshi Kurosawa</h1>
      <img src="/images/door.jpg" alt="" />
    </div>
    <div class="links">
      <a class="link-items" href="/about">about</a>
      <a class="link-items" href="/works">works</a>
      <a class="link-items" href="/gallery">gallery</a>
    </div>
  </body>
</html>
