<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>works</title>
  </head>
  <body>
    <div class="hero">
      <h1 class="title">recent work</h1>
      <div class="movie-box">
        <div class="movie-card">
          <img class="movie-img" src="/images/cure.jpg" alt="" />
          <h3 class="movie-title">Cure</h3>
          <p class="movie-duration">1h 51m</p>
          <p class="movie-year">1997</p>
        </div>
        <div class="movie-card">
          <img class="movie-img" src="/images/pulse.jpg" alt="" />
          <h3 class="movie-title">Kairo</h3>
          <p class="movie-duration">1h 59m</p>
          <p class="movie-year">2001</p>
        </div>
        <div class="movie-card">
          <img class="movie-img" src="/images/creepy.jpeg" alt="" />
          <h3 class="movie-title">Creepy</h3>
          <p class="movie-duration">2h 10m</p>
          <p class="movie-year">2016</p>
        </div>
      </div>
    </div>
    <div class="links">
      <a class="link-items" href="/about">about</a>
      <a class="link-items" href="/works">works</a>
      <a class="link-items" href="/gallery">gallery</a>
    </div>
  </body>
</html>
